<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.admin.mapper.AdminUserUserMapper">

<!-- 회원의 시간 검색 -->
<select id ="userTimeCheck" resultType="com.plant.admin.model.UserUseVO">
select time, idx from useruse where idx=#{idx}
</select>
<!-- 회원 시간 검색 -->
<select id="userTimeCnt" resultType="java.lang.Integer">
select count(*) from useruse where idx =#{idx}
</select>

<!-- 시간 추가 -->
<update id="userTimeCharge">
update useruse set time=time+#{timeCharge} where idx=#{idx}
</update>


</mapper>